/* Basic Pyroscope Stylesheet */

body {
	background-color: #FFFFFF;
	color: #000000;
}

span.topstats {
    font-family: Verdana, sans-serif;
    font-size: 0.8em;
    font-weight: bold;
    vertical-align: top;
}

table.grid tr th {
	background-color: #666666;
	color: yellow;
}
table.grid tr td {
    border: solid 1px #999999;
}
td.monoval {
    font-family: Lucida Console, Courier, monospace;
    text-align: right;
}

/*  topmenu - top-level menu selection
 */
 ul.topmenu {
    background-color: #BBBBBB;
    border: solid 2px #CCCCCC; 
    padding: .3em;
 }
li.topmenu {
    display: inline;
    background-color: #DDDDDD;
    padding: .2em;
}
a.topmenu {
    text-decoration: none;
}
a:link.topmenu { 
    color: #000000;
}
a:visited.topmenu { 
    color: #000000;
}
a:hover.topmenu { 
    color: #990000;
    background-color: #FFEEEE;
}
/*
a:active.topmenu { 
    color: #550000;
}*/
