/* Basic Pyroscope Stylesheet */

/*  generic layout classes
 */
.rounded {
    /* class for rounded corners */
    border-top: solid 1px #CCCCCC; 
    border-left: solid 1px #CCCCCC; 
    border-bottom: solid 3px #666666; 
    border-right: solid 3px #666666; 
    -webkit-border-radius: 9px;    /* for Safari */
    -moz-border-radius: 9px;       /* for Firefox */
}
.monoval {
    /* a right-aligned  monospace font value (so pre-formatted values line up) */
    font-family: Lucida Console, Courier, monospace;
    font-weight: bolder;
    text-align: right;
    white-space: nowrap;
}
a.hoverline {
    /* vanilla link that is only underlined on hover */
        text-decoration: none;
    }
    a.hoverline:hover { 
        text-decoration: underline;
    }
}
a.tlink {
    /* a torrent link */
        text-decoration: none;
    }
    a.tlink:hover { 
        text-decoration: underline;
    }
}
.submenu {
    /* submenu tab bar */
    }
    .submenu ul {
        /* the list of menu items */
        line-height: 200%;
        margin-top: .3em;
        margin-left: 0em;
    }
    .submenu li {
        display: inline;
        white-space: nowrap;
        margin: 0px;
        padding: 0px;
    }
    .submenu a {
        /* a single menu item */
        color: #993300;
        background-color: #FFFFCC;
        font-size: 115%;
        font-weight: bolder;
        text-decoration: none;

        margin-right: .5em;
        padding-left: 1em;
        padding-right: 1em;

        /* button-like */
        border-top: solid 1px #993300; 
        border-left: solid 1px #993300; 
        border-bottom: solid 2px #663300; 
        border-right: solid 2px #663300; 
        -webkit-border-radius: 15px;    /* for Safari */
        -moz-border-radius: 15px;       /* for Firefox */
    }
    .submenu a.selected {
        color: #FF0000;
        background-color: #FFFF00;
}


/*  global & misc
 */
body {
    /* main HTML body defaults (after YUI defaults are applied) */
    font-family: Verdana;
    background-color: #FFFFEE;
    color: #000000;
}
div#bd div {
    /* div in the main content area */
        margin-bottom: .8em;
    }
    div#bd div:last {
        /* last div in the main content area */
        margin-bottom: .05em;
}


/*  header
 */
div#hd {
    /* the header defaults */
    background-color: FFFF99;
    padding: .2em;
}
div.logo {
    /* application logo in header */
    float: left;
    padding: .2em;
    padding-right: 1em;
}
div.topstats {
    /* search, statistics, clock, etc. */
        line-height: 175%;
        width: 100%;
        font-size: 80%;
        font-weight: bold;
    }
    .topstats span {
        -outline: black solid thin;
        margin-right: 1em;
    }
    .topstats img {
        /* icons in the top stats */
        vertical-align: middle;
        padding-left: .3em;
    }
    .topstats form {
        /* the search form */
        white-space: nowrap;
        display: inline;
    }
    .topstats form input {
        /* the search submit button */
        vertical-align: middle;
}


/*  topmenu - top-level menu selection
 */
div.topmenu {
    /* tabbed menu in the header */
        vertical-align: top;
        line-height: 300%;
    }
    .topmenu ul {
        /* the list of menu items */
        padding: .3em;
    }
    .topmenu li {
        /* a single menu item */
        font-size: 125%;
        white-space: nowrap;
        display: inline;
        background-color: #FF3300;
        padding: .3em;

        /* button-like */
        border-top: solid 1px #993300; 
        border-left: solid 1px #993300; 
        border-bottom: solid 2px #663300; 
        border-right: solid 2px #663300; 
        -webkit-border-radius: 9px;    /* for Safari */
        -moz-border-radius: 9px;       /* for Firefox */
    }
    .topmenu img {
        /* the icon in a menu item */
        margin: .3em;
        vertical-align: middle;
    }
    .topmenu a {
        /* the anchor pointing to the action of the menu item */
        margin: .3em;
        font-weight: bold;
        text-decoration: none;
    }
    .topmenu a:link { 
        /* virginal menu link */
        color: #FFFFFF;
    }
    .topmenu a:visited { 
        /* visited menu link */
        color: #FFFFFF;
    }
    .topmenu a:hover { 
        /* menu link mouse-over */
        color: #000000;
        background-color: #FFFFCC;
    }
    /* default is ok
    .topmenu a:active { 
        color: #550000;
    }*/
    #xxxtopmenu-current {
        /* not yet implemented */
        color: #FFFF99;
}


/*  footer
 */
div#ft {
    /* the footer defaults */
        background-color: #FFFF99;
        padding: .8em;
        margin-top: .8em;
    }
    div#ft small {
        /* "powered by" text */
        vertical-align: top;
}    
.bugreport {
    /* bug report link */
        white-space: nowrap;
        margin-left: 3em;
    }
    .bugreport a {
        text-decoration: none;
    }
    .bugreport img {
        vertical-align: middle;
}
.ohloh {
    /* "I use it!" */
    display: inline;
    float: right;
}
.profilingstats {
    /* page rendering time */
    white-space: nowrap;
    float: left;
    color: #666666; 
    font-size: 80%;
}


/*  data tables (grid)
 */
table.grid th {
    /* data grid table headers */
        background-color: #666666;
        color: #FFFF99;
        padding: .3em;
        border: 0px;
        -webkit-border-radius: 5px;    /* for Safari */
        -moz-border-radius: 5px;       /* for Firefox */
    }
    .grid th img {
        /* data grid table icons */
        vertical-align: middle;
    }
    .grid td {
        /* data grid table data cells */
        background-color: #FFFFCC;
        padding: .3em;
        border: 1px dotted #999999;
    }
    .grid .footer td {
        background-color: #FFFFEE;
        border: 1px solid #FFFFEE;
        border-top: 1px dotted #999999;
}


